#site-footer {
  @include spacer;
  background-color: $clr-primary;
  color: $clr-accent;
  z-index: 5;
  position: relative;

  section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span a {
      color: $clr-accent;
    }

    .scroll-control {
      button {
        font-size: 3rem;
      }
    }
  }
}
