#site-footer {
  background-color: $clr-primary;
  color: $clr-accent;
  z-index: 5;
  position: relative;

  section.container {
    @include flex;
    padding: 0.5rem;

    span a {
      color: $clr-accent;
    }

    // nav button {
    //   font-size: 2rem;
    // }
  }
}
