:root {
  --font-size--small: calc((16 / 16) * 1rem);
  --font-size--medium: calc((18 / 16) * 1rem);
  --font-size--large: calc((20 / 16) * 1rem);
}

html {
  font-size: var(--font-size--small);

  @include medium {
    font-size: var(--font-size--medium);
  }

  @include large {
    font-size: var(--font-size--large);
  }
}

body {
  font-family: $font-main;
  font-weight: normal;
  line-height: 1.5rem;
}

.container {
  max-width: $breakpoint-lrg;
  margin: 0 auto;
}

h1.fancy {
  color: $clr-accent;
  text-shadow: 0.1rem 0.1rem 0 $clr-primary;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;

  a {
    text-decoration: none;
    color: $clr-accent;
  }
}

svg {
  fill: $clr-accent;

  &:hover {
    fill: lighten($clr-accent, 5%);
  }
}

button {
  background-color: transparent;
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
}

.page-header {
  padding: 1rem 1rem 0;
  background-color: $clr-bg;
  color: $clr-primary;
  border-bottom: 1px solid $clr-accent;
  font-weight: bold;

  .chunk {
    margin: 0 1rem 1rem 0;

    &:last-child {
      margin: 0 0 1rem 0;
    }
  }
}
