#site-header {
  background-color: $clr-primary;

  section.container {
    @include flex;
    padding: 0.5rem;

    a#site-logo {
      @include flex;
      margin: 0;
      line-height: 0;
      text-decoration: none;

      svg {
        width: 2.5rem;
        height: auto;
        fill: $clr-accent;
        margin-right: 1rem;
      }

      h1 {
        margin: 0;
      }
    }

    .subtitle {
      font-weight: bold;
      color: $clr-accent;
    }
  }
}
