#site-header {
  background-color: $clr-primary;
  position: fixed;
  width: 100vw;

  section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    svg {
      fill: $clr-accent;
    }

    a#site-logo {
      display: inline-block;
      margin: 0;
      line-height: 0;

      svg {
        width: 2.5rem;
        height: auto;
      }
    }
  }
}
