#home {
  header {
    background-color: $clr-bg;
    border-bottom: 1px solid $clr-accent;
    color: $clr-primary;
    font-weight: bold;
    @include spacer;

    section.container {
      @include spacer;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      #song-list-control {
        @include flex;

        button {
          margin: 0.5rem;
        }
      }

      #filter-search {
        margin: 2rem 0 0;
        padding: 0.5rem;
        width: 100%;

        @include medium {
          margin: 0;
          width: auto;
        }
      }
    }
  }

  section.container {
    @include spacer;

    ol.song-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 1rem;

        &:hover {
          background-color: $clr-bg;
        }

        a {
          display: block;
          text-decoration: none;
          display: flex;
          align-items: center;
          color: $clr-primary;

          .title {
            font-weight: 500;
          }

          .artist {
            margin-left: 0.5rem;
            font-size: 0.8rem;

            &::before {
              content: "(";
            }

            &::after {
              content: ")";
            }
          }
        }
      }
    }
  }
}
