#home {
  header {
    section.container {
      @include flex;
      justify-content: space-between;

      #song-list-control {
        @include flex;

        button,
        span {
          margin: 0.5rem;
        }

        button {
          font-size: 2rem;
        }
      }

      #filter-search {
        @include flex;
        border-radius: 10rem;
        background-color: white;
        width: 100%;
        border: 1px solid $clr-primary;
        padding: 0 0.5rem;

        input {
          border: 0;
          border-radius: 10rem;
          margin-right: 0.5rem;
          padding: 0.5rem;
          flex-grow: 1;

          &:focus-visible {
            outline: none;
          }

          &::placeholder {
            font-size: 0.9rem;
          }
        }

        button {
          width: 1.5rem;
          font-size: 1.5rem;
        }

        @include medium {
          width: auto;
        }
      }
    }
  }

  ol.song-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 1rem;

      &:hover {
        background-color: $clr-bg;
      }

      a {
        display: block;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $clr-primary;

        .title {
          font-weight: 500;
        }

        .artist {
          margin-left: 0.5rem;
          font-size: 0.8rem;

          &::before {
            content: "(";
          }

          &::after {
            content: ")";
          }
        }
      }
    }
  }
}
