#scroller {
  @include flex;
  flex-grow: 1;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // margin-top: -3rem;
  // padding: 0 1rem;
  // border: 1px solid red;
  // line-height: 0;
  // text-align: right;
  // position: sticky;
  // top: 0;
  // opacity: 0.5;

  // button {
  //   display: inline;
  //   line-height: 0;
  //   font-size: 3rem;
  // }

  .rc-slider {
    width: 3rem;
    flex-grow: 1;
    // min-height: 50vh;
    // margin-bottom: 0.5rem;

    .rc-slider-track {
      background-color: $clr-accent;
    }

    .rc-slider-handle {
      background-color: $clr-accent;
      border: 0;
    }
  }
}
