// typography
@font-face {
  font-family: "rubik";
  font-weight: normal;
  src: url("../fonts/rubik-regular.woff2") format("woff2");
}

@font-face {
  font-family: "rubik";
  font-weight: 500;
  src: url("../fonts/rubik-medium.woff2") format("woff2");
}

@font-face {
  font-family: "rubik";
  font-weight: bold;
  src: url("../fonts/rubik-bold.woff2") format("woff2");
}

// @import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

$font-main: rubik, sans-serif;
// $font-main: "Cabin", sans-serif;

// colours
$clr-primary: hsl(216, 71%, 39%);
$clr-accent: hsl(62, 100%, 40%);
$clr-bg: hsla(62, 100%, 40%, 5%);

// breakpoints
$breakpoint-small: 420px;
$breakpoint-med: 700px;
$breakpoint-lrg: 1200px;

@mixin small {
  @media only screen and (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $breakpoint-med) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $breakpoint-lrg) {
    @content;
  }
}

// utils
@mixin spacer {
  padding: 1rem;
}
